* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }
    body {
      background: #f9f9f9;
    }
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 40px;
      background: #131010d6;
      color: white;
      position: sticky;
      top: 0;
    }
    .logo {
      display: flex;
      align-items: center;
    }
 .logo img {
      height: 40px;
      margin-right: 10px;
    }
    .title {
      font-size: 22px;
      font-weight: bold;
    }
    nav ul {
      list-style: none;
      display: flex;
      gap: 40px;
    }
    nav ul li a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      transition: color 0.3s;
    }
    nav ul li a:hover {
      color: #00c3ff;
    }
    .btn{
        background-color: blue;
        padding: 10px 24px;
        border-radius: 10px;
        font-size: 16px; }        
    .btn a{
        text-decoration: none;
        color: #f9f9f9;
    }
    .btn:hover{
        background-color: rgb(53, 53, 173);
    }

    .container_title{
      display: flex;
      padding: 40px 44px;
      gap: 24px;
    }
    .title_box{
      width: 50%;
    }
    .title_box h1{
      font-size: 60px;
      margin-bottom: 24px;
    }
    .container_logo{
      width: 50%;
      padding: 0PX 40PX;
      margin-left: 150px;
    }
     .container_logo img{
      width: 300px;
     }
    .hh1{
      display: flex;
      margin-top: -50px;
    }
    .hh2{
      color: rgba(251, 103, 10, 0.779);
       font-size: 34px;
       margin-left: 44px;
    }
    .hh3{
      color: #0fabda6b;
      font-size: 34px;
    }

    .emea{
      padding: 32px 40px;
      width: 100%;
    }
    .emea_img{
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      margin-top: 24px;
    }
    .box_imge{
      width: 22%;
      height: 400px;
      background-color: #fefafa;
      border-radius: 8px;
      overflow: hidden;
    }
    .box_imge:hover{
       transform: translateY(-5px);
       background-color: #f1e7e8;
    }
    .box_imge img{
      width: 100%;
      height: 200px;
    }
    .box_title{
      width: 100%;
      padding: 24px 16px;
      margin-right: 32px;
    }
     .box_title h2{
      color: #00c3ff;
      margin-bottom: 8px;
     }

     .kingdom{
      margin-top: 32px;
      padding: 32px 40px;
      width: 100%;
     }
     .kingdom_image{
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      margin-top: 24px;
     }

     .kingdom_box{
      border-radius: 8px;
      overflow: hidden;
      width: 22%;
      height: 400px;
      background-color: #fefafa;
     }
    .kingdom_box:hover{
       transform: translateY(-5px);
       background-color: #f1e7e8;
    }
     .kingdom_box img{
      width: 100%;
      height: 200px;
     }